.productsContainer {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .productsContainer {
    box-sizing: border-box;
    width: 100vw;
  }
}
