.productCard {
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 5px 2px rgb(210, 210, 210);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: space-between;
  margin: 15px;
  width: 500px;
  padding: 0;
}

.productTitle {
  font-size: 20px;
  font-weight: 200;
  height: 75px;
  overflow: hidden;
  box-sizing: border-box;
}

.productDescription {
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
  width: 200px;
}

.productImage {
  align-items: center;
  display: flex;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.productImage img {
  width: 100%;
}

.productPrice {
  font-weight: 300;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  align-items: center;
  background-color: inherit;
  border: 1px solid rgb(210, 210, 210);
  height: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 30px;
  text-align: center;
}

.actions span {
  align-items: center;
  display: flex;
  width: 40px;
  height: 30px;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}

.removeProductButton {
  border: rgb(129, 3, 3);
  background-color: inherit;
  color: rgb(129, 3, 3);
  cursor: pointer;
  font-size: 20px;
}

.removeProductButton-button:hover {
  background-color: inherit;
  color: rgb(129, 3, 3);
}

@media screen and (max-width: 900px) {
  .productCard {
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgb(210, 210, 210);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: space-between;
    margin: 15px;
    width: 99%;
    padding: 0;
  }
  
}

