.cart-icon {
  background-color: inherit;
  border: none;
  height: 30px;
  display: flex;
  align-items: center;
}

.cart-icon .material-icons {
  color: rgb(230, 230, 230);
  font-size: 28px;
  cursor: pointer;
}

.cart-icon .material-icons:hover {
  color: rgb(250, 250, 250);
  font-size: 28px;
}

@media screen and (max-width: 837px) {
  .cart-icon .material-icons {
    color: rgb(100, 100, 100);
  }
}

