.cartIcon {
  align-items: center;
  background-color: inherit;
  border: none;
  color: rgb(230, 230, 230);
  cursor: pointer;
  display: flex;
  font-size: 23px;
  height: 30px;
}

@media screen and (max-width: 837px) {
  .cartIcon {
    color: rgb(100, 100, 100);
  }
}

