.detailsSkeleton {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.titleSkeleton {
  width: 600px;
  min-height: 40px;
}

.imageSkeleton {
  width: 600px;
  min-height: 400px;
}

.detailsSkeleton .right {
  margin-top: 100px;
  width: 400px;
}

@media screen and (max-width: 900px) {
  .titleSkeleton {
    width: 330px;
  }

  .imageSkeleton {
    width: 330px;
  }
}
