.categories {
  display: flex;
  justify-content: flex-start;
  border-right: 1px solid rgb(200, 200, 200);
  padding-right: 20px;
  flex-wrap: wrap;
}

.categories.darkmode {
  border-right: 1px solid rgb(50, 50, 50);
}

.category {
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(20, 20, 20);
  margin: 4px;
  max-width: 300px;
  /* border-left: 8px solid rgb(239, 200, 139); */
  font-size: 15px;
  padding: 10px;
  text-align: start;
}

.darkmode .category {
  background-color:rgb(50, 50, 50);
  font-size: 15px;
}

.category:hover {
  background-color: rgb(220, 220, 220);
  /* border-left: 8px solid rgb(219, 190, 129); */
}

.category.selected {
  background-color: rgb(200, 200, 200);
  /* border-left: 8px solid rgb(219, 190, 129); */
}


.category {
  flex-shrink: 0;
}

  @media screen and (max-width: 900px) {
    .categories {
      border: none;
      box-sizing: border-box;
      margin: 0;
      width: 100vw;
    }
  }