.gallery-container {
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: absolute;
}

.gallery-container img {
  width: 100%;
}

.gallery-container .buttons {
  display: flex;
  height: 100%;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: 300ms;
}

.gallery-container:hover .buttons {
  opacity: 1;
}

.gallery-container button {
  background-color: inherit;
  border: none;
  font-size: 20px;
  font-weight: 900;
  opacity: 0.5;
}

.gallery-container button:hover {
  opacity: 0.3;
}

.gallery-container button .material-icons {
  font-size: 40px;
}

.checkbox-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 400ms;
}

.gallery-container:hover .checkbox-container {
  opacity: 1;
}

.label span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(230, 230, 230, 0.5);
  margin: 5px;
}

.label input:checked ~ span {
  background-color: rgba(0, 125, 184, 0.5);
  transform: scale(1.1);
}

@media only screen and (max-width: 900px) {
  .gallery-container {
    width: 90%;
  }
}
