.authenticationPage {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
}

.left, .right {
  box-sizing: border-box;
  height: 100vh;
}

.left {
  background: url('../assets/images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  width: 60%;
}

.right {
  align-items: flex-start;
  box-sizing: border-box;
  width: 40%;
}

/* .authentication-page header {
  background-color: #1b3244;
  box-shadow: 1px 1px 5px 1px rgb(40, 40, 40);
  color: white;
  height: 60px;
  padding: 5px 20px!important;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
} */

/* .left img {
  width: 100%;
} */

.authenticationPage input {
  padding: 5px;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px;
}

.authenticationPage button {
  padding: 5px;
}

.authenticationPage h2 {
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
}



@media  screen and (max-width: 600px) {
  .left, .right {
    width: 100vw;
  }
}
