.purchaseSummary {
  display: flex;
  width: 90%;
  overflow-x: auto;
  overflow-y: hidden;
}

.purchaseSummary .product-card {
  min-width: 250px;
  height: 230px;
  text-align: center;
}

.checkoutPage .total {
  font-weight: 300;
}

.checkoutForm {
  margin: 50px 0;
  max-width: 1000px;
}

.line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 0;
}

.checkoutForm, .checkoutForm label {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.checkoutForm input {
  width: 400px;
  padding: 10px;
  margin: 10px 0 0px 0;
  border: 1px solid rgb(200, 200, 200);
}

.checkoutForm fieldset {
  padding: 40px 0;
  border: none;
}

.checkoutForm legend {
  font-size: 20px;
  color: rgb(50, 50, 50);
  font-weight: 300;
}

.checkoutPage .product-card .product-title {
  display: inline-block;
  height: 30px!important;
}

.error {
  font-weight: 300;
  font-size: 12px;
  color: rgb(158, 3, 3);
  display: block;
  padding: 10px 0;
}

@media screen and (max-width: 900px) {
  .purchaseSummary {
    display: flex;
    width: 100%;
    overflow-x: auto;
  }

  .checkoutForm input {
    width: 90%;
    padding: 10px;
    margin: 10px 0 25px 0;
    border: 1px solid rgb(200, 200, 200);
  }
  
}
