.principalPage.darkmode {
  background-color: rgb(40, 40, 40);
  color: white;
}

.principalPageCategories {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
}

.principalPageCategories h2 {
  display: block;
  font-weight: 300;
  margin: 20px auto;
}

.productsSkeleton {
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  margin: 0;
  width: 93vw;
}

.principalPageCategory {
  margin-bottom: 80px;
}

@media screen and (max-width: 600px) {
  .principalPageCategories {
    padding: 10px;
  }
}
